.left-galelry{
    flex: 0 0 99%;
    max-width: 99%;
    display: flex;
    justify-content: center;

}
.all-gallery{
    display: flex;
    align-items: start;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

}

#ReactSimpleImageViewer{
    z-index: 99999999;
}

.img-box > img {
    width: 100%;
    height: 100%;
}

.img-box{
    margin: 10px;
    cursor: pointer;
   display: flex;
   flex: 0 0 29.8%;
   height: 335px;
    transition:  all .2s ease-in;

}

.img-box:hover{

    transform: scale(1.05);
    box-shadow:3px 3px 5px 6px #ccc;
   
}

.all-gallery > div{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: center;

}
.img-box:nth-child(1){
    flex: 0 0 30%;

}
.img-box:nth-child(2){
    flex: 0 0 61%;
}
.gallery > h1{
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 25px;
    color: #f6b867;
    padding: 0 10px;
}
.gallery{
    background: #e8e6e6;
    padding-top: 90px;
    padding-bottom: 75px;

}
@media (max-width: 850px){
    .gallery > h1{
        font-size: 22px;
    }
   
   .img-box{
       height: unset;
   }
}